<div class="container-fluid col-md-4 col-12 mt-3 mx-auto Cardcomp">
    <div class="card shadow">
        <div class="row">

            <div class="col-6">
                <img src={{@item.image}} class="card-img-top itemimg" alt={{@item.name_id}} />
            </div>
            <div class="card-body col-6">
                <h2>{{@item.name_id}}</h2>
                <span>₹</span>{{@item.price}}

                <div class="row">
                    <button class="btn btn-info buttons mt-3 " {{action 'addToCart'}}>add</button>
                </div>
            </div>
        </div>
    </div>
</div>